@model MojeAutCcentrum.Models.RatingCarEntityViewModels
@using MojeAutCcentrum.Models
@{
    ViewBag.Title = "Auto";
}

<h2>Samochód</h2>

<div>
    <p>
        @Html.ActionLink("Powrót", "Index", "Home", htmlAttributes: new { @class = "btn btn-default" })
    </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
        </dt>
        <dd>
            <h4>Poszczeólne parametry pojazdu</h4>
        </dd>
        @{
            if (Model.Brand != null && Model.Brand.Name != "" && Model.Model.Name != null)
            {
                <dt>
                    @Html.DisplayName("Marka")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Brand.Name)
                    @Html.HiddenFor(model => model.Brand.Id)
                </dd>
            }
            if (Model.Model != null && Model.Model.Name != "" && Model.Model.Name != null)
            {
                <dt>
                    @Html.DisplayName("Model")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Model.Name)
                    @Html.HiddenFor(model => model.Model.Id)
                </dd>
            }
            if (Model.Generation != null && Model.Generation.Name != "" && Model.Generation.Name != null)
            {
                <dt>
                    @Html.DisplayName("Generacja")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Generation.Name)
                    @Html.HiddenFor(model => model.Generation.Id)
                </dd>
            }
            if (Model.Body != null && Model.Body.Name != "" && Model.Body.Name != null)
            {
                <dt>
                    @Html.DisplayName("Nadwozie")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Body.Name)
                    @Html.HiddenFor(model => model.Body.Id)
                </dd>
            }
            if (Model.Motor != null && Model.Motor.Name != "" && Model.Motor.Name != null)
            {
                <dt>
                    @Html.DisplayName("Silnik")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Motor.Name)
                    @Html.HiddenFor(model => model.Motor.Id)
                </dd>
            }
        }
        <dt>
        </dt>
        <dd>
            <h4>Oceny</h4>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Failure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Failure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conveniences)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conveniences)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maintenance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maintenance)
        </dd>

    </dl>
</div>



<img src="~/Content/Images/neutral-avatar.png" hidden="hidden" id="neutral-avatar" />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="description-box-list">
        <h2>Opinie użytkowników</h2>
        <div class="jumbotron">
            <div class="row">
                <h4>Tu możesz wpisać swoją opinię:</h4>
                <div class="col-md-6">
                    @if (Request.IsAuthenticated)
                    {
                        <textarea id="new-description" class="text-left" style="resize:none;width:100%;height:150px;"></textarea>
                    }
                    else
                    {
                        <textarea id="new-description" disabled="disabled" class="text-left" style="resize:none;width:100%;height:150px;"></textarea>
                    }
                </div>
                <div class="col-md-3">
                    @if (Request.IsAuthenticated)
                    {
                        <button id="add-description" class="btn btn-success">Dodaj Opinię</button>
                    }
                    else
                    {
                        @Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-default" })
                    }
                </div>
                <div class="col-md-3"></div>
                </div>
        </div>
        @foreach (var Comment in Model.Comment)
        {
            if (Comment.Massage.Description != null || Comment.Massage.Description != "" && Comment.Massage.Conveniences != null && Comment.Massage.Conveniences != "" || Comment.Massage.Failure != null && Comment.Massage.Failure != "" || Comment.Massage.Maintenance != null && Comment.Massage.Maintenance != "")
            {
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-md-4">
                            @if (Comment.Image != null)
                    {
                                <img src="@Comment.Image" class="img-circle" height="200" width="200" />
                            }
                            else
                            {
                                <img src="~/Content/Images/neutral-avatar.png" class="img-circle" height="200" width="200" />
                            }
                        </div>
                        <div class="col-md-8">
                            <h4>@Comment.Email</h4><hr />
                            <p>@Comment.Massage.Description</p>
                            @if (Comment.Massage.Conveniences != null && Comment.Massage.Conveniences != "" || Comment.Massage.Failure != null && Comment.Massage.Failure != "" || Comment.Massage.Maintenance != null && Comment.Massage.Maintenance != "")
                    {
                                <div>Informacja dodatkowa:</div>
                            }
                            @if (Comment.Massage.Conveniences != null && Comment.Massage.Conveniences != "")
                    {
                                <div>
                                    &#8226; ( Konfortowość ) - @Comment.Massage.Conveniences
                                </div>
                            }
                            @if (Comment.Massage.Failure != null && Comment.Massage.Failure != "")
                    {<div>
                                &#8226; ( Awaryjność ) - @Comment.Massage.Failure
                            </div> }
                            @if (Comment.Massage.Maintenance != null && Comment.Massage.Maintenance != "")

                    {<div>
                                &#8226; ( Koszt utrzymania ) - @Comment.Massage.Maintenance
                            </div>}
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-md-2"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/car")
}
